@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в Интернет-Аптеку!</h1>

    <div class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Leks" asp-action="Index">Смотреть каталог</a>
    </div>


</div>
