@model apteka.Models.Lek

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Lek</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IDL" />
            <input type="hidden" asp-for="Foto" />
            <div class="form-group">
                <label asp-for="Naz" class="control-label"></label>
                <input asp-for="Naz" class="form-control" />
                <span asp-validation-for="Naz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qena" class="control-label"></label>
                <input asp-for="Qena" class="form-control" />
                <span asp-validation-for="Qena" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Текущее изображение</label>
                <input class="form-control" value="@(string.IsNullOrWhiteSpace(Model.Foto) ? "Изображение не выбрано" : Model.Foto)" readonly />
            </div>
            @if (!string.IsNullOrWhiteSpace(Model.Foto))
            {
                <div class="form-group mb-3">
                    <img src="~/Img/@Model.Foto" alt="@Model.Naz" style="max-width: 200px;" />
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
